@import 'variables.less';
@charset "utf-8";
html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
body {
    font-family: "Rubik", "Open Sans", "Helvetica Neue";
    
    overflow: hidden;
    width: 100%;
    color:@bodytext;
   background:@bgcolor;
}

a:hover, a:focus{
    color:lighten(@maincolor, 10%);
}
#logoAndNav {
   
}
header {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

    .navbar-brand{
        opacity:1;
        z-index:999;
    }
    .header-section {
        margin-bottom: 30px;
        width: 100%;
        opacity: 1;
        transition: all 0.3s;
        height:100%;
        .navbar {
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self:center;
            height:80px;
        }

        &.aos-animate {
            height: 80px;
            width: 100%;
            position: fixed;
            background: @white;
            box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.15);
            top: 0px;
            transition: all 0.3s;
            opacity: 1;
            z-index: 1990;

            .navbar {
                padding: 0;
            }

            .navbar-brand {opacity:1;
                padding: 0;

                img {
                    max-width: 280px;
                }
            }
        }
    }

    .navbar-nav {
        align-items: center;

        .btn {
            font-size: 14px;
            top: -4px;
        }
    }

    .navbar-brand {
        img {
            max-width: 380px;
        }
    }

    a {
        text-transform: uppercase;
        color: @maincolor;
        font-weight:bold;
        font-size: 14px;
        margin: 0 12px;

        &:hover {
            color: @secondarycolor;
        }
    }
}
.homepage main {
    background: @bgcolor;
    background-size:100%;
   
    overflow:hidden;
    width:100%;
}
h2{
    font-size:3em;
    font-weight:600;
    color:@titlecolor;

  
   
}
h3 {
   font-weight:bold;
    font-size: 20px;
}
h4{
   
    font-size:18px;
}
h5 {
   
    font-size: 20px;
}

.uppercase{
    text-transform:uppercase;
}





#flying {
    position: absolute;
    right: 0;
    top: 5em;
    animation: action 1s infinite alternate;
}

@keyframes action {
    0% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(10px);
    }
}


footer {background:darken(@darkbg, 6%) !important;
    .container {
        position: relative;
        z-index: 56;
    }

    .containerfooter {
        z-index: 59;
        position: relative;
    }


    .btn-primary {
        background: @secondarycolor !important;
        color: @bodytext !important;
    }

    .copyright {
       
        font-size: 14px;
        color: @white;
        
        display:inherit;
        justify-content:center;
        width:100%;
    }

    background: @darkbg;
    position: relative;

 

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            color: @white;


            a {
                color: @white;
            }
        }
    }
}







.navbar-toggler {
    padding: 0;
    z-index: 199990;
    right:2%;
    position: absolute;

    #nav-icon {
        width: 40px;
        height: 50px;
        position: relative;
        margin: 10px auto;
        transform: rotate(0deg);
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 20px;
            border-radius: 10%;
            background: @maincolor;
            opacity: 1;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
        }
    }

    &[aria-expanded="false"] {
        #nav-icon {


            span:nth-child(1) {
                top: 0px;
            }

            span:nth-child(2) {
                top: 9px;
            }

            span:nth-child(3) {
                top: 18px;
            }
        }
    }

    &[aria-expanded="true"] {




        #nav-icon {

            span {
                background: @white !important;
            }

            span:nth-child(1) {
                transform: rotate(45deg);
                top: 6px;
            }

            span:nth-child(3) {
                transform: rotate(-45deg);
            }

            span:nth-child(3) {
                left: 0px;
                top: 6px;
            }



            span:nth-child(2) {
                width: 0px;
                opacity: 0;
            }
        }
    }
}



.one{
    background: url("../images/topleftbg.svg") 0 0 no-repeat;
    background-size: 100vmin;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
  
}
.slick-slide:first-child {
    background: url("../images/topleftbg.svg") 0 0 no-repeat;
    background-size: 100vmin;
    min-height: 100vh;
}
#circles {
    /*animation: circleScale 2s ease-in infinite;*/
    z-index: 10;
}

@keyframes circleScale {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}
main{

    overflow:hidden;
    width:100%;
}
.citydiv {
    /* clip-path: url(#citymask);*/
    position: relative;
    top: 0px;
 
 right:0;
 left:0;
 top:0;
 bottom:0;
    display:flex;
   height:100vh;
    align-items:flex-start;
  
  
}

.city {
    position: absolute;
    top: 0px;
    max-width: unset !important;
    width: 200vmin;
    left: 50%;
    margin-left: -100vmin;
    height: 200vmin;
    top: 20vmin;
    -webkit-animation: cog2 24s infinite linear;
    -moz-animation: cog2 24s infinite linear;
    
    animation: cog2 24s infinite linear;
}
.buttonrow{

    display:flex;

    justify-content:center;

    .btn{

        display:flex;
        justify-content:center;
    }
}

h1{

    font-size:20vmin;
}

#avatar1, #avatar2, #avatar3, #avatar4, #discover1_1_, #discover2_1_, #discover3_1_, #discover4_1_,

#el1, #el2, #el3, #el4{
    display: block;
    transform-box: fill-box;
    transform-origin: 50% 50%;
}

.section{
    height:100vh;

}
@keyframes cog2 {

    100% {
        transform: rotate(-360deg)
    }
}
@-webkit-keyframes cog2 {

    100% {
        transform: rotate(-360deg)
    }
}
@-moz-keyframes cog2 {

    100% {
        transform: rotate(-360deg)
    }
}



img {
    max-width:100% !important; height:auto;
}

.d-column{
    flex-direction:column;
}

.avatars{
  
    width:100%;
    position:absolute;
    top:10vmin;
    z-index:1007;
}

.girl {margin-top:5vmin;
    z-index: 1008;
    flex: 1 0 100%;
    /*transform: rotate(-25deg)*/
}

#circles {
    position:relative;
    
    right:0;
    width:30vmin;
    height:auto;

    #ellipse1, #ellispe2, #ellipse3 {
        display: block;
        transform-box: fill-box;
        transform-origin: 50% 50%;
    }
}


.connect {
    position: relative;
    background: url("../images/pinkbg.svg") 50% 50% no-repeat;
    background-size: contain;
 top:0px;
    width: 100%;
   display:flex;
   justify-content:flex-start;
  

   


   
}

.phone {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    margin-top: 5vmin;
    overflow: hidden;
    order: 1;
    justify-content: center;
    width: 100%;
}
.message {
    display:flex;
    flex-direction:column;
    position: relative;
    z-index: 1010;
    order: 2;
    text-align: center;
}

.btn{
    display:inline-flex;
    flex:1 1 100%;
    justify-content:center;
}
h2{
    font-size:10vmin;

}
h4{

    font-size:10vmin;
}

.screenshot {
    display: none !important;
}
.discover {

    position:relative;

   

    .bench {
        width: 100%;
        flex: 1 0 100%;
    }
}

.circles2{top:0;
          position:absolute;
          flex:0 0 80%;
          width:80%;
          z-index:3000;

          
}

.socialize {
    position: relative;
    background: url("../images/pinkbg2.svg") 70% 80% no-repeat;
    background-size: 50%;
    width: 100%;

     .phone {
       align-items: center !important;
    }
}

.feelhome {
    position: relative;

   .logobg {
        position: absolute;
       
        left: 0;
        display: block;
        top: 0;
        width: 50vmin;
        height: auto;
        padding-bottom: 100%;
        background: url("../images/logobg.svg") 0 0 no-repeat;
        background-size: contain;
    }
}

.btn img{
    max-width:60% !important;
    height:auto;
}
section{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.circles3{

    position:absolute;
}

.maintext{
    align-self:center;
    position:absolute;
    display:flex;
    justify-content:center;
  
    top:60vmax;
    z-index:1200;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

#navBar.show {
    top: 0;
    opacity: 1;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100vh;
    background: @maincolor;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 199400;

    .navbar-nav{

        margin-right:auto;
    }

    a {
        color: @white;
        padding: 3vw 5vw;
        font-size: 8.5vmin;
    }
}

.contact {
    background: @darkbg;
    color: @white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2vmax;
    align-text:center;

    h2 {
        color: @white;
    }

    .form-wrapper {width:100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.gadgets{position:absolute;
    width:80%;
    left:20%

}

.contact {
    position: relative;
    z-index: 89999;
}

.form-control{
    color:@white !important;
}
.md-form input:not([type]):focus:not([readonly]), .md-form input[type=date]:not(.browser-default):focus:not([readonly]), .md-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]), .md-form input[type=datetime]:not(.browser-default):focus:not([readonly]), .md-form input[type=email]:not(.browser-default):focus:not([readonly]), .md-form input[type=number]:not(.browser-default):focus:not([readonly]), .md-form input[type=password]:not(.browser-default):focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:not(.browser-default):focus:not([readonly]), .md-form input[type=tel]:not(.browser-default):focus:not([readonly]), .md-form input[type=text]:not(.browser-default):focus:not([readonly]), .md-form input[type=time]:not(.browser-default):focus:not([readonly]), .md-form input[type=url]:not(.browser-default):focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){
    border-bottom:solid 1px @maincolor !important;
    outline:none !important;
    box-shadow:none !important;
}


.citydiv, .phone{

    height:50vh;


}
.message, .maintext{

    margin-top:0;
    top:0;
    position:relative !important;
}
.slick-dots {
    position: fixed;
    bottom: unset;
    top: 95vmin;
    z-index: 4800;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-flex;
        justify-content:center;
        align-items:center;
        width: 32px;
        height: 32px;
        margin: 0 5px;
        padding: 0;
        
        cursor: pointer;


        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: @white;
            padding:5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: 0;
            transition: all 0.3s;
            transform: scale(1, 1);

            &:before {
                content: "";
            }
        }

        &:not(.slick-active) {
            button {
                transition: all 0.3s;
                transform: scale(0.7, 0.7);
                background: @white;
            }
        }

        &.slick-active {
            button {
                transition: all 0.3s;
                transform: scale(1.2, 1.2);
                background: @maincolor;
            }
        }
    }
}
.bgcircle{
    display:none;
}

#thanks{
    display:none;
}
a{
    color:@maincolor;
    font-weight:500;
}
@media (min-width:991px) {


    .cityinside {
        display: flex;
        position: fixed;
        width: 110vmin;
        height: 110vmin;
        left: -20%;
       bottom: -50vh;
    }
    .bgcircle {display:flex;
        position: fixed;
        width: 110vmin;
        height: 110vmin;
        right: -20%;
        top: -50vh;
    }

    .girl {
        top: unset;
        margin-top: 15vmin;
        z-index: 1008;
        flex: 0 0 55%;
        transform: rotate(-25deg);
    }

    .discover {
        .screenshot {
            z-index: 4500;
        }
    }

    main {
        position: relative;
    }

    .bgcircle2 {
        position: absolute;
        width: 150vmin;
        height: 150vmin;
    }

    .circles3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
        z-index: 5000;
    }

    .feelhome {
        .girl {
            bottom: -100px;
        }
    }

    .gadgets {
        position: absolute;
        width: 60%;
        left: 25%;
        top: -20%;
        flex: 0 0 60%;
    }

    .buttonrow {
        flex-wrap: nowrap;
    }

    .container-80 {
        width: 80%;
        max-width: 80% !important;
        display:flex;
        align-items:center;
    }

    h2 {
        font-size: 8vmin;
    }

    h4 {
        font-size: 4vmin;
    }

    .citydiv {
        height: unset;
    }

    .maintext {
        display: flex;
        align-items: center !important;
        flex-direction: column;
        top: unset;
        position: relative;
    }



    header {
        z-index: 999999;
    }

    .avatars {
        width: 60%;
    }

    .city {
        position: fixed;
        top: 20vmin;
        left: -10%;
        margin-left: 0;
    }


    section:focus {
        outline: none !important;
    }

    .screenshot {
        display: block !important;
        position: absolute;
        right: 0;
    }

    .message {
        order: unset;
    }

    .phone {
        order: unset;
        overflow: unset;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        margin-top: 0;
    }

    .coffee {
        margin-left: 10%;
        flex: 0 0 65%;
    }

    .boy {
        flex: 0 0 70%;
    }

    .contact {
        margin-top: -60px;
    }

    .feelhome {
        .girl {
            transform: unset;
            flex: 0 0 80%;
        }
    }

    .discover {
        .bench {
            margin-left: 30%;
            flex: 0 0 65%;
        }

        .screenshot {
            right: unset;
            left: 0;
        }
    }

    .circles2 {
        top: -5%;
        width: 50%;
        left: 45%;
        z-index: 4600;
    }
}

#contactsection {
    padding-top: 100px;
    margin-top: -100px;
}

#connect {
    padding-top: 100px;
    margin-top: -100px;
}
footer a {
    color: @white;

    &:hover {
        color: lighten(@maincolor, 10%);
    }
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle{

    background-color:@secondarycolor !important;
}

.arrowtop {
    background-color: @maincolor;
    color: #fff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
     opacity: 1;
    position: absolute;
    right: 42%;
    z-index: 999999;
    top: -10px;

}
@media (min-width: 991px) and (max-width:1280px) {

    .girl {
        top: unset;
        margin-top: 5vmin;
        z-index: 1008;
        flex: 0 0 75%;
        transform: rotate(-25deg);
    }

    .avatars {
        top: -20%;
        width: 80%;
    }

    .discover .bench {
        margin-left: 40%;
        flex: 0 0 70%;
    }

    .phone {
        min-height: 80vh;
    }
}


.navbar-brand-fixed{
    display:none;
}
@media (max-width: 768px) {

    .boy {
        flex: 0 0 100%;
    }

    body.homepage {
        overflow: hidden;
    }

   .homepage main section {
        height: 100vh !important;
        overflow: hidden;
    }

    .btn img {
        max-width: 40% !important;
        height: auto;
    }

    .message, .maintext {
        top: unset;
        bottom: 0;
        left: 0;
        position: absolute !important;
    }

    .buttonrow {
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) and (orientation:landscape) {

   


    }


.navbar-brand {
    top: -10px;
}

@media (width: 768px) and (height:1024px){

    .phone{
        height:80vh;
    }


    .coffee{
        flex:0 0 100%;
    }
    .boy {
        flex: 0 0 90%;
        margin-top:3vmin;
    }
    .message {

        bottom:80px;
    }
    .maintext{

        bottom:50px;
    }
    .buttonrow {
        width: 100%;
        flex-wrap: nowrap;
    }
}





@media (max-width: 767px) and (min-height:680px) {

    .navbar-brand-fixed {
        display: flex;
        position: fixed;
        top: 105vmin;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        z-index: 79999;
    }

    .navbar-brand {
        display: none;
    }

    .message {
        top: unset;
        bottom: 4%;
        left: 0;
        position: absolute !important;
    }

    .maintext{
        bottom:20px;
    }
    h2{
        font-size:35px !important;
    }
}

@media (max-width: 767px) and (min-height:800px) {
    .navbar-brand-fixed {
        top: 125vmin;
    }

    .message {
      
        bottom: 8%;
       
    }

}




h2 {
    --minFontSize: 28px;
    --maxFontSize: 45px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}

h4 {
    --minFontSize: 18px;
    --maxFontSize: 35px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}