@import 'variables.less';
@charset "utf-8";

html, body {
    overflow-x: hidden;
}
body {
    font-family: "Rubik", "Open Sans", "Helvetica Neue";
    
    overflow: hidden;
    width: 100%;
    color:@bodytext;
   background:@bgcolor;
}


#logoAndNav {
   
}
header {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

    .navbar-brand{
        opacity:0;
    }
    .header-section {
        margin-bottom: 30px;
        width: 100%;
        opacity: 1;
        transition: all 0.3s;
        height:100%;
        .navbar {
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self:center;
            height:80px;
        }

        &.aos-animate {
            height: 80px;
            width: 100%;
            position: fixed;
            background: @white;
            box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.15);
            top: 0px;
            transition: all 0.3s;
            opacity: 1;
            z-index: 1990;

            .navbar {
                padding: 0;
            }

            .navbar-brand {opacity:1;
                padding: 0;

                img {
                    max-width: 380px;
                }
            }
        }
    }

    .navbar-nav {
        align-items: center;

        .btn {
            font-size: 14px;
            top: -4px;
        }
    }

    .navbar-brand {
        img {
            max-width: 380px;
        }
    }

    a {
        text-transform: uppercase;
        color: @maincolor;
        font-weight:bold;
        font-size: 14px;
        margin: 0 12px;

        &:hover {
            color: @secondarycolor;
        }
    }
}
main {
    background: @bgcolor;
    background-size:100%;
   
    overflow:hidden;
    width:100%;
}
h2{
    font-size:3em;
    font-weight:600;
    color:@titlecolor;

  
   
}
h3 {
   font-weight:bold;
    font-size: 20px;
}
h4{
   
    font-size:18px;
}
h5 {
   
    font-size: 20px;
}

.uppercase{
    text-transform:uppercase;
}





#flying {
    position: absolute;
    right: 0;
    top: 5em;
    animation: action 1s infinite alternate;
}

@keyframes action {
    0% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(10px);
    }
}


footer {
    .container {
        position: relative;
        z-index: 56;
    }

    .containerfooter {
        z-index: 59;
        position: relative;
    }


    .btn-primary {
        background: @secondarycolor !important;
        color: @bodytext !important;
    }

    .copyright {
        margin-top: 4em;
        font-size: 14px;
        color: @white;
    }

    background: @darkbg;
    position: relative;

 

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            color: @white;


            a {
                color: @white;
            }
        }
    }
}







.navbar-toggler {
    padding: 0;
    z-index: 7777;
    right:2%;
    position:absolute;
    #nav-icon {
        width: 40px;
        height: 50px;
        position: relative;
        margin: 10px auto;
        transform: rotate(0deg);
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 20px;
            border-radius: 10%;
            background: @maincolor;
            opacity: 1;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
        }
    }

    &[aria-expanded="false"] {
        #nav-icon {


            span:nth-child(1) {
                top: 0px;
            }

            span:nth-child(2) {
                top: 9px;
            }

            span:nth-child(3) {
                top: 18px;
            }
        }
    }

    &[aria-expanded="true"] {
       
            
            
            
            #nav-icon {

                span{
                    color:@white;
                }
            span:nth-child(1) {
                transform: rotate(45deg);
                top: 6px;
            }

            span:nth-child(3) {
                transform: rotate(-45deg);
                
            }

            span:nth-child(3) {
                left: 0px;
                top: 6px;
            }



            span:nth-child(2) {
                width: 0px;
                opacity: 0;
            }
        }
    }
}



.one{
    background: url("../images/topleftbg.svg") 0 0 no-repeat;
    background-size: 100vmin;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
  
}
.slick-slide:first-child {
    background: url("../images/topleftbg.svg") 0 0 no-repeat;
    background-size: 100vmin;
    min-height: 100vh;
}
#circles {
    /*animation: circleScale 2s ease-in infinite;*/
    z-index: 10;
}

@keyframes circleScale {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}
main{

    overflow:hidden;
    width:100%;
}
.citydiv {
    /* clip-path: url(#citymask);*/
    position: relative;
    top: 0px;
 
 right:0;
 left:0;
 top:0;
 bottom:0;
    display:flex;
   height:100vh;
    align-items:flex-start;
  
  
}

.city {position:absolute;
       top:0px;
   max-width:unset !important;
   width:200vmin;
   left:50%;
   margin-left:-100vmin;
   height:200vmin;
  top:55vmin;

  
    animation: cog2 24s infinite linear;

}
.buttonrow{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

h1{

    font-size:20vmin;
}

#circle1, #circle2, #circle3, #circle4, #discover1, #discover2, #discover3, #discover4 {
    display: block;
    transform-box: fill-box;
    transform-origin: 50% 50%;
}

.section{
    height:100vh;

}
@keyframes cog2 {

    100% {
        transform: rotate(-360deg)
    }
}

img{
    max-width:100% !important;
    height:auto;
}

.d-column{
    flex-direction:column;
}

.avatars{
  
    width:100%;
    position:absolute;
    top:0;
    z-index:1007;
}

.girl {margin-top:20vmin;
    z-index: 1008;
    flex: 1 0 100%;
    /*transform: rotate(-25deg)*/
}

#circles {
    position:relative;
    
    right:0;
    width:30vmin;
    height:auto;

    #ellipse1, #ellispe2, #ellipse3 {
        display: block;
        transform-box: fill-box;
        transform-origin: 50% 50%;
    }
}


.connect {
    position: relative;
    background: url("../images/pinkbg.svg") 50% 50% no-repeat;
    background-size: contain;
 top:0px;
    width: 100%;
   display:flex;
   justify-content:flex-start;
  

   


   
}

.phone {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    margin-top: 10vmin;
    overflow: hidden;
    order: 1;
    justify-content: center;
    width: 100%;
}
.message {
    display:flex;
    flex-direction:column;
    position: relative;
    z-index: 1010;
    order: 2;
    text-align: center;
}

.btn{
    display:inline-flex;
    flex:1 1 100%;
    justify-content:center;
}
h2{
    font-size:10vmin;

}
h4{

    font-size:10vmin;
}

.screenshot {
    display: none !important;
}
.discover {

    position:relative;

   

    .bench {
        width: 100%;
        flex: 1 0 100%;
    }
}

.circles2{margin-top:10vmin;

          flex:0 0 70%;
          position:relative;
}

.socialize {
    position: relative;
    background: url("../images/pinkbg.svg") 50% 50% no-repeat;
    background-size: contain;
   
    width: 100%;
   
    

   
}

.feelhome {
    position: relative;

   .logobg {
        position: absolute;
       
        left: 0;
        display: block;
        top: 0;
        width: 50vmin;
        height: auto;
        padding-bottom: 100%;
        background: url("../images/logobg.svg") 0 0 no-repeat;
        background-size: contain;
    }
}

.btn img{
    max-width:60% !important;
    height:auto;
}
section{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

#circles3{

    position:absolute;
}

.maintext{
    align-self:center;
    position:absolute;
    display:flex;
    justify-content:center;
  
    top:60vmax;
    z-index:1200;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

#navBar.show {
    top: 0;
    opacity: 1;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100vh;
    background: @maincolor;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1400;

    .navbar-nav{

        margin-right:auto;
    }

    a {
        color: @white;
        padding: 3vw 5vw;
        font-size: 8.5vmin;
    }
}

.contact {
    background: @darkbg;
    color: @white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2vmax;
    align-text:center;

    h2 {
        color: @white;
    }

    .form-wrapper {width:100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.gadgets{position:absolute;
    width:100%;

}

.contact {
    position: relative;
    z-index: 89999;
}




@media (min-width:769px){


    h2{
        font-size:8vmin;
    }

    h4 {
        font-size: 4vmin;
    }
    .citydiv{
        height:unset;
    }
    .maintext{
        display:flex;
        align-items:center;
        flex-direction:column;
        top:unset;
        position:relative;
    }

    .girl {top:unset;
        margin-top: 10vmin;
        z-index: 1008;
        flex: 0 0 55%;
        transform: rotate(-25deg);
    }
    header{
        z-index:999999;
    }

    .avatars{
        width:60%;
    }

    .city{
        top:35vmin;
    }


    section:focus{
        outline:none !important;
    }

    .screenshot{
        display:block !important;
        position:absolute;
        right:0;
    }
    .message{
        order:unset;
    }
    .phone{
        order:unset;
        overflow:unset;
        min-height:100vh;
    }

    .coffee{

        flex:0 0 80%;
    }
    .boy {
        flex: 0 0 80%;
    }
    .contact {
        margin-top: -60px;
      
    }
    .feelhome{
        .girl{

            transform:unset;
            flex:0 0 100%;
        }

    }
    .discover {
        .bench {margin-left:50px;
            flex: 0 0 80%;
        }

        .screenshot{right:unset;
            left:0;
        }
    }
}